<div style="text-align: center;">
  <h2>
    This is an {{title}}
  </h2>
  <nav>
    <a routerLink="home" routerLinkActivate="active"> Home</a> |
    <a routerLink="about"routerLinkActivate="active"> About</a> |
    <a routerLink="dashboard" routerLinkActivate="active"> Dashboard</a> |
    <a routerLink="data-binding" routerLinkActivate="active">Data-binding</a> |
    <a routerLink="directives" routerLinkActivate="active"> Directives</a> |
    
  </nav>
  <router-outlet></router-outlet>

</div>